<?php
defined('_JEXEC') or die('Restricted Access');
jimport('joomla.application.component.model');

class AbstractFrontendModel extends JModel
{
  var $_db;
  var $_object_name;
  var $_collection_name;
  var $_tablename;
  
  function __construct($object_name, $collection_name = '')
  {
    parent::__construct();

    $this->_object_name = $object_name;
    $this->_collection_name = (($collection_name === '') ? $object_name . 's' : $collection_name);
    $this->_db = $this->getDBO();
  }

  // Gets the collection for the index
  public function getCollection()
  {
    $this->_db->setQuery($this->getIndexQuery());
    return $this->_db->loadObjectList();
  }

  // Retrieves a single item.
  public function getItem($id)
  {
    $query = sprintf("SELECT * FROM %s WHERE %s = %d",
               $this->getTableName(),
               $this->nq('id'),
               (int)$id);

    $this->_db->setQuery($query);
    
    $item = $this->_db->loadObject();
    if (is_object($item)) return $item;
    else JError::raiseError(500, "{$this->_object_name} [$id] not found.");
  }

  // For running Quote a bit shorter.
  public function q($text)
  {
    return $this->_db->Quote($text);
  }

  // For running nameQuote a little bit shorter
  public function nq($text)
  {
    return $this->_db->nameQuote($text);
  }

  // Override this to change the query performed by the index action.
  protected function getIndexQuery()
  {
    return "SELECT * FROM {$this->getTableName()}";
  }

  // Die, retrieving the error message from the database
  protected function failWithDBError()
  {
    $this->setError($this->_db->getErrorMsg());
    return false;
  }

  protected function getTableName()
  {
    if (!empty($this->_tablename)) return $this->_tablename;

    $this->_tablename = $this->_db_namequote('#__<%= @name.downcase %>_' . $this->_collection_name);
    return $this->_tablename;
  }

}

?>
