################################################################################
# admin/abstracts/controller.php
################################################################################

# 1: object name
COM_<%= @name.upcase %>_SAVED_OBJECT=Saved %1$s
# 1: object name
# 2: error
COM_<%= @name.upcase %>_ERROR_SAVING_OBJECT=There was an error when saving %1$s: %2$s

COM_<%= @name.upcase %>_CANCELLED=Cancelled

# 1: object name
COM_<%= @name.upcase %>_OBJECT_DELETED=%1$s deleted

# 1: object name
# 2: error
COM_<%= @name.upcase %>_ERROR_DELETING_OBJECT=Error deleting %1$s: %2$s

COM_<%= @name.upcase %>_MISSING_CID_PARAMETER=Missing 'CID' parameter from request

################################################################################
# admin/abstracts/model.php
################################################################################

# 1: object name
# 2: id
COM_<%= @name.upcase %>_OBJECT_NOT_FOUND=%1$s [%2%s] not found.
COM_<%= @name.upcase %>_AFTER_SAVE_CALLBACK_FAILED=The after save callback failed.

################################################################################
# admin/abstracts/view.php
################################################################################

COM_<%= @name.upcase %>_COMPONENT_PACKAGES_TITLE=Component Packages
COM_<%= @name.upcase %>_COMPONENT_CHANNELS_TITLE=Component Channels
COM_<%= @name.upcase %>_COMPONENT_POSTALCODES_TITLE=Component Postal Codes
COM_<%= @name.upcase %>_COMPONENT_REGIONS_TITLE=Component Regions

COM_<%= @name.upcase %>_EDIT_TITLE=Edit
COM_<%= @name.upcase %>_ADD_TITLE=Add
