<?php
defined('_JEXEC') or die('Restricted Access');
jimport('joomla.application.component.controller');

class AbstractController extends JController
{

  var $_object_name;
  var $_collection_name;
  var $_view;
  var $_model;
  var $_cids;

  function __construct($object_name, $collection_name = '')
  {
    parent::__construct();

    $this->_object_name = $object_name;
    $this->_collection_name = (($collection_name === '') ? $object_name . 's' : $collection_name);
    $this->_view = $this->getView($this->_object_name, 'html');
    $this->_model = $this->getModel($this->_object_name);

    $this->_view->setModel($this->_model, true);
  }

  // List view
  public function display()
  {
    $this->_view->setLayout('list');
    $this->_view->display();
  }

  public function edit()
  {
    $this->_view->edit($this->getCids(0));
  }

  public function add()
  {
    $this->_view->add();
  }

  public function save()
  {
    if ($this->_model->store()) $msg = JText::sprintf('COM_<%= @name.upcase %>_SAVED_OBJECT', $this->_object_name);
    else $msg = JText::sprintf('COM_<%= @name.upcase %>_ERROR_SAVING_OBJECT', $this->_object_name, $this->_model->getError());

    $this->setRedirect($this->getRedirectURL(), $msg);
  }

  public function cancel()
  {
    $this->setRedirect($this->getRedirectURL(), JText::_('COM_<%= @name.upcase %>_CANCELLED'));
  }

  public function remove()
  {
    if ($this->_model->delete($this->getCids())) $msg = JText::sprintf('COM_<%= @name.upcase %>_OBJECT_DELETED', ucfirst($this->_object_name));
    else $msg = JText::sprintf('COM_<%= @name.upcase %>_ERROR_DELETING_OBJECT', $this->_object_name, $this->_model->getError());
    $this->setRedirect($this->getRedirectURL(), $msg);
  }

  protected function getRedirectURL()
  {
    $url = sprintf('index.php?option=%s&c=%s&task=display', 
                     JRequest::getVar('option'),
                     $this->_collection_name);

    return JRoute::_($url, false);
  }

  protected function getCids($index = null)
  {
    if (!isset($this->_cids))
    {
      $this->_cids = JRequest::getVar('cid', null, 'default', 'array');
      if ($this->_cids === null) JError::raiseError(500, JText::_('COM_<%= @name.upcase %>_MISSING_CID_PARAMETER'));
    }

    if (isset($index)) return (int)$this->_cids[$index];
    else return $this->_cids;
  }
}

?>
